.podium {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 2rem;
}

.firstPlace {
	background-color: gold!important;
	padding: 60px!important;
}

.secondPlace {
	background-color: silver!important;
	padding: 40px!important;
}

.thirdPlace {
	background-color: #cd7f32!important; /* bronze color */
	padding: 20px!important;
}
