.glow {
	color: #fff352a5;
	text-align: center;
	animation: glow 3s ease-in-out infinite alternate;
}

@keyframes glow {
	from {
		text-shadow: 0 0 2px #fff, 0 0 5px #fff, 0 0 7px #e6ad00, 0 0 10px #e66f00,
			0 0 12px #e6b000, 0 0 15px #e6ad00c5, 0 0 17px #e6cb009e;
	}
	to {
		text-shadow: 0 0 5px #ffffff9d, 0 0 7px #fcff4da1, 0 0 10px #ffe14d91,
			0 0 12px #ffe74d9c, 0 0 15px #ffdb4da5, 0 0 17px #ffd54dc9,
			0 0 20px #ffd54d8d;
	}
}

.point {
	width: 150px;
	height: 3px;
	background: linear-gradient(
		90deg,
		rgba(159, 159, 181, 1) 0%,
		rgba(255, 255, 255, 1) 50%,
		rgba(159, 159, 181, 1) 100%
	);
}

.point.last.active {
	background: linear-gradient(
		to right,
		#ff00b8 0%,
		#ffa2e0 50%,
		#ff00b8 100%
	);
	animation: scaleDown 0.25s ease-out;
}

@keyframes scaleDown {
	from {
		transform: scale(1);
	}
	to {
		transform: scale(1.2);
	}
}
  